body{
  margin-top:20%;
	color:honeydew;
	background-color: #677DB7;
	text-align: center;
	font-family: monospace,Lucida Console;
	border: 20px solid white;
	margin:5%;
}
.headercenterorange-text{
	text-transform: uppercase;
	color:#b7e5d6;

}
.rowcenter{
	font-size: 1em;
}

i {
	color:Aliceblue ;
}
.sheart{
	background-color: #8DBDDB;
    color:#F1C6EF;
}
#col2{
  width:800px;
  border-radius:50px;
  
}
#col1{
   width:800px;
  border-radius:50px;
  
}
#col3{
   width:800px;
  border-radius:50px;
}
#col12{
   width:800px;
  border-radius:50px;
}
#col9{
   width:800px;
  border-radius:50px;
}
#col10{
   width:800px;
  border-radius:50px;
}
#col11{
   width:800px;
  border-radius:50px;
}